@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&family=Source+Sans+Pro&display=swap');

body {
    background-color: #edf9ff;
    font-family: sans-serif;
    margin: 3rem 1rem;
}

.app {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    background: linear-gradient(
        51deg
        ,#3c709d,#22416c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 800;
}
p {
    line-height: 2;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

a {
    color: #006ed2;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

a:hover {
    color: #0063bd;
}

.downloadButtons {
    display: flex;
    margin: 3rem 0;
}

.downloadButtons a:nth-child(1) {
    flex: 1;
    margin-right: 1rem;
    background-color: #006ed2;
    color: #fff;
}

@media only screen and (max-width: 575px) {
    .downloadButtons {
        flex-direction: column;
    }
    .downloadButtons a:nth-child(1) {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

.downloadButtons a:nth-child(1):hover {
    background-color: #0063bd;
}

.downloadButtons a {
    font-family: 'Poppins', sans-serif;
    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
    padding: 1.5rem 2rem;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
    transition: background-color 0.1s ease-in-out;
}

.downloadButtons a:hover {
    background-color: #e5f0fa;
}